@model IEnumerable<ASP_Ticket_Center.Data.Event>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center mb-4">Събития</h1>

<p class="text-center">
     @if (User.IsInRole("Admin"))
            {
    <a class="btn btn-primary" asp-action="Create">+ Създай ново събитие</a>
            }
</p>

<form asp-controller="Categories" asp-action="Index" method="get">
    <select name="category">
        <option value="">All Categories</option>
        <option value="Music">Music</option>
        <option value="Sports">Sports</option>
        <option value="Art">Tech</option>
    </select>

    <input type="text" name="searchTerm" placeholder="search..." />

    <button type="submit">Search</button>
</form>
<div class="events-grid">

@foreach (var item in Model)
{
    <div class="event-card">

        <h5>@item.Name</h5>

        <img src="@item.ImageURL" class="event-image" />

        <p class="text">
            @item.Location
        </p>

        <p>
             @item.MinPrice - @item.MaxPrice лв
        </p>

        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary">
            Details
        </a>

            @if (User.IsInRole("Admin"))
            {
        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">
            Edit
        </a>

        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger">
            Delete
        </a>
            }
           
    </div>
}

</div>
@* @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categories.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @* @Html.DisplayFor(modelItem => item.ImageURL) *@
    @*                 <img src="@item.ImageURL" width="50"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Organizer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Last_Update)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
} *@
    </tbody>
</table>
