@model IEnumerable<ASP_Ticket_Center.Data.Event>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Име на продукт
       @*          @Html.DisplayNameFor(model => model.Name) *@
            </th>
            <th>
                Категория
             @*    @Html.DisplayNameFor(model => model.Categories) *@
            </th>
            <th>
                Местоположение
               @*  @Html.DisplayNameFor(model => model.Location) *@
            </th>
            <th>
                Описание
              @*   @Html.DisplayNameFor(model => model.Description) *@
            </th>
            <th>
                Снимка
             @*    @Html.DisplayNameFor(model => model.ImageURL) *@
            </th>
            <th>
                Организатор
              @*   @Html.DisplayNameFor(model => model.Organizer) *@
            </th>
            <th>
                Наличност на билети
             @*    @Html.DisplayNameFor(model => model.Capacity) *@
            </th>
            <th>
                Дата
@*                 @Html.DisplayNameFor(model => model.Date)
 *@            </th>
            <th>
                Цена
                @* @Html.DisplayNameFor(model => model.MaxPrice) *@
            </th>
            <th>
                Най-ниска цена
               @*  @Html.DisplayNameFor(model => model.MinPrice) *@
            </th>
            <th>
                Статус
               @*  @Html.DisplayNameFor(model => model.Status) *@
            </th>
            <th>
                Последно обновен 
              @*   @Html.DisplayNameFor(model => model.Last_Update) *@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categories.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @* @Html.DisplayFor(modelItem => item.ImageURL) *@
                    <img src="@item.ImageURL" width="50"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Organizer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Last_Update)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
